:root {
  --accent-color: var(--purple-5);
  --accent-bg-color: var(--purple-5);
  --accent-fg-color: alpha(white, 1);
}

@keyframes rotate_star {
	from { -gtk-icon-transform: rotate(-72deg); }
	to {}
}

textview {
  background: none;
}

.font-size-7 {
  font-size: 7pt;
}

.rounded-corners {
  border-radius: 12px;
}

gridview > child {
  border-radius: 16px;
}

.extra-padding-except-top {
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
}

.clear-input-button {
  color: alpha(@window_fg_color, 0.7);
  box-shadow: none;
}

.clear-input-button:hover, .clear-input-button:active {
  color: var(--window-fg-color);
  background: none;
}

.no-right-padding {
  padding-right: 0;
}

.weaker-highlight:hover {
  background: alpha(@window_fg_color, 0.03);
}

.weaker-highlight:active {
  background: alpha(@window_fg_color, 0.08);
}

.star.enabled image {
	animation: rotate_star 0.4s ease;
}

.star:hover,
.star.enabled {
	color: var(--yellow-5);
}

.star:active {
	color: var(--yellow-4);
}
